# Miscellaneous
*.class
*.log
*.pyc
*.swp
    .DS_Store
    .atom/
    .buildlog/
    .history
    .svn/

# IntelliJ related
*.iml
*.ipr
*.iws
    .idea/

# Visual Studio Code related
    .vscode/

# Flutter/Dart/Pub related
**/doc/api/
    .dart_tool/
    .flutter-plugins
    .packages
    .pub-cache/
    .pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/.filecache
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea/.gitignore
/linux/.gitignore
/macos/.gitignore
/windows/.gitignore
/.metadata
/analysis_options.yaml
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/app.dill
/windows/runner/resources/app_icon.ico
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/macos/Runner/AppDelegate.swift
/macos/Runner/Configs/AppInfo.xcconfig
/linux/flutter/CMakeLists.txt
/linux/CMakeLists.txt
/windows/flutter/CMakeLists.txt
/windows/runner/CMakeLists.txt
/windows/CMakeLists.txt
/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/macos/Runner.xcworkspace/contents.xcworkspacedata
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/macos/Runner/Configs/Debug.xcconfig
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/debug_android_application.stamp
/macos/Runner/DebugProfile.entitlements
/web/favicon.png
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/flutter_assets.d
/.idea/libraries/Flutter_Plugins.xml
/windows/runner/flutter_window.cpp
/windows/runner/flutter_window.h
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/gen_localizations.stamp
/linux/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake
/windows/flutter/generated_plugins.cmake
/macos/Flutter/GeneratedPluginRegistrant.swift
/web/icons/Icon-192.png
/web/icons/Icon-512.png
/web/icons/Icon-maskable-192.png
/web/icons/Icon-maskable-512.png
/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/web/index.html
/macos/Runner/Info.plist
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/kernel_snapshot.d
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/kernel_snapshot.stamp
/.idea/libraries/KotlinJavaRuntime.xml
/linux/main.cc
/windows/runner/main.cpp
/.idea/runConfigurations/main_dart.xml
/macos/Runner/MainFlutterWindow.swift
/macos/Runner/Base.lproj/MainMenu.xib
/web/manifest.json
/.idea/misc.xml
/.idea/modules.xml
/linux/my_application.cc
/linux/my_application.h
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/native_assets.d
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/native_assets.stamp
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/native_assets.yaml
/.dart_tool/flutter_build/55a4f8b67e69f0d7e4699be53ef1bc8c/outputs.json
/.dart_tool/package_config.json
/.dart_tool/package_config_subset
/macos/Podfile
/macos/Runner.xcodeproj/project.pbxproj
/pubspec.lock
/macos/Runner/Release.entitlements
/macos/Runner/Configs/Release.xcconfig
/windows/runner/resource.h
/windows/runner/runner.exe.manifest
/windows/runner/Runner.rc
/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/macos/RunnerTests/RunnerTests.swift
/windows/runner/utils.cpp
/windows/runner/utils.h
/.idea/vcs.xml
/.dart_tool/version
/macos/Runner/Configs/Warnings.xcconfig
/.dart_tool/dartpad/web_plugin_registrant.dart
/test/widget_test.dart
/windows/runner/win32_window.cpp
/windows/runner/win32_window.h
